In [2]:
# !pip install gseapy

In [1]:
%matplotlib inline
%config InlineBackend.figure_format='retina' # mac
%load_ext autoreload
%autoreload 2
import pandas as pd
import gseapy as gp
import matplotlib.pyplot as plt
import os

In [2]:
exp= "/Users/ltao/Projects/mecom/exp/210210/bulkrna/"

In [4]:
[i for i in os.listdir(exp) if ('norm' in i and 'txt' in i)]

['norm_lthsc_GeneMat.txt',
 'norm_lthsc_res_mecom_GeneMat.txt',
 'norm_GeneMat.txt',
 'norm_lthsc_aavs_mecom_GeneMat.txt',
 'norm_lthsc_aavs_res_GeneMat.txt']

In [55]:
# dataset='norm_GeneMat.txt' #aml
# dataset='norm_lthsc_aavs_mecom_GeneMat.txt' # lthsc
dataset='norm_lthsc_res_mecom_GeneMat.txt'
# dataset='norm_lthsc_aavs_res_GeneMat.txt'

# method="log2_ratio_of_classes"
method="t_test"
# method='signal_to_noise'
# method='ratio_of_classes'

output=exp+'subset/'+dataset[:-4]+"_"+method
aml_norm=pd.read_csv(exp+dataset, sep='\t')
x=[g.split('_')[1] for g in aml_norm.index.to_list()]
aml_norm['Name']=x
# aml_norm['DESCRIPTION']='aml_aavs_vs_mecom'
aml_norm['DESCRIPTION']='aml_mecom_vs_aavs'

gsea_exp=aml_norm[['Name','DESCRIPTION']+aml_norm.columns[:-2].to_list()].reset_index(drop=True)
# gsea_exp=aml_norm[['Name','DESCRIPTION']+aml_norm.columns[::-1][2:].to_list()].reset_index(drop=True)

# enrichr libraries are supported by gsea module. Just provide the name

gs_res = gp.gsea(data=gsea_exp, # or data='./P53_resampling_data.txt'
                 gene_sets='/Users/ltao/Projects/mecom/exp/210210/mecom.gmt', # enrichr library names
                 cls= exp+"lthsc_res_mecom.cls", # cls=class_vector
#                  cls= exp+"lthsc.cls", # cls=class_vector

#                  cls= exp+"aml.cls", # cls=class_vector

                 # set permutation_type to phenotype if samples >=15
                 permutation_type='gene_set',
                 permutation_num=1000, # reduce number to speed up test
                 outdir=output,  # do not write output to disk
                 no_plot=False, # Skip plotting
                 method=method,
                 max_size=1000,
                 processes=4,
                 seed= 7,
                 format='pdf')

2021-03-26 13:06:55,088 Warning: dropping duplicated gene names, only keep the first values

# tcag

In [12]:
"TCGA gene exp stratified by MECOM exp.csv"

'TCGA gene exp stratified by MECOM exp.csv'

In [38]:
dataset="TCGA gene exp stratified by MECOM exp.csv"
# method="log2_ratio_of_classes"
method="diff_of_classes"
# method='ratio_of_classes'
output=exp+'subset/'+dataset[:-4]+"_"+method

aml_norm=pd.read_csv(exp+dataset)
aml_norm['Name']=aml_norm['attrib_name']
aml_norm['DESCRIPTION']='tcga'
gsea_exp=aml_norm[['Name','DESCRIPTION','Avg MECOM low','Avg MECOM high']].reset_index(drop=True)
gsea_exp

            Name DESCRIPTION  Avg MECOM low  Avg MECOM high
0          MECOM        tcga       1.226749        8.189856
1          MYCT1        tcga       3.591125        7.034352
2         CHRDL1        tcga       4.001135        7.304316
3         CLEC9A        tcga       2.252264        5.521908
4           PBX1        tcga       3.400019        6.648972
...          ...         ...            ...             ...
19443     PRDM16        tcga       5.383909        3.578240
19444      WNT7B        tcga       2.175814        0.317132
19445  LOC728606        tcga       6.556184        4.614244
19446     NKX2-3        tcga       4.023063        2.008340
19447      CCNA1        tcga       8.484343        6.362000

[19448 rows x 4 columns]

In [39]:
dataset="TCGA gene exp stratified by MECOM exp.csv"
# method="log2_ratio_of_classes"
method="diff_of_classes"
# method='ratio_of_classes'
output=exp+'subset/'+dataset[:-4]+"_"+method

aml_norm=pd.read_csv(exp+dataset)
aml_norm['Name']=aml_norm['attrib_name']
aml_norm['DESCRIPTION']='tcga'
# gsea_exp=aml_norm[['Name','DESCRIPTION']+aml_norm.columns[1:3].to_list()].reset_index(drop=True)
gsea_exp=aml_norm[['Name','DESCRIPTION','Avg MECOM low','Avg MECOM high']].reset_index(drop=True)

# enrichr libraries are supported by gsea module. Just provide the name

gs_res = gp.gsea(data=gsea_exp, # or data='./P53_resampling_data.txt'
                 gene_sets='/Users/ltao/Projects/mecom/exp/210210/mecom.gmt', # enrichr library names
                 cls= exp+"tcga.cls", # cls=class_vector
#                  cls= exp+"aml.cls", # cls=class_vector

                 # set permutation_type to phenotype if samples >=15
                 permutation_type='gene_set',
                 permutation_num=1000, # reduce number to speed up test
                 outdir=output,  # do not write output to disk
                 no_plot=False, # Skip plotting
                 method=method,
                 max_size=1000,
#                  method='t_test',
                 
#                  method='log2_ratio_of_classes',
                 processes=4, seed= 7,
                 format='pdf')

## TCGA 24

In [24]:
output

'/Users/ltao/Projects/mecom/exp/210210/bulkrna/subset/TCGA_24_diff_of_classes'

In [35]:
dataset="TCGA_24.csv"
# method="log2_ratio_of_classes"
method="diff_of_classes"
# method='ratio_of_classes'
output=exp+'subset/'+dataset[:-4]+"_"+method

aml_norm=pd.read_csv(exp+dataset)
aml_norm['Name']=aml_norm['attrib_name']
aml_norm['DESCRIPTION']='tcga'
gsea_exp=aml_norm[['Name','DESCRIPTION','average surv>24 months','average surv<24 months']].reset_index(drop=True)
gsea_exp

        Name DESCRIPTION  average surv>24 months  average surv<24 months
0      DOCK1        tcga               -1.055553                1.272885
1      CPNE8        tcga               -1.114770                1.189231
2      HOXA9        tcga               -1.139247                1.041567
3       VNN1        tcga               -1.120471                1.019244
4      SYTL4        tcga               -0.876441                1.144936
...      ...         ...                     ...                     ...
19443   SIX3        tcga                0.950566               -0.947219
19444    TRH        tcga                1.136271               -1.043068
19445    MPO        tcga                1.082507               -1.177766
19446    LPO        tcga                1.104337               -1.194379
19447   IRX1        tcga                1.374527               -1.147337

[19448 rows x 4 columns]

In [36]:
# enrichr libraries are supported by gsea module. Just provide the name

gs_res = gp.gsea(data=gsea_exp, # or data='./P53_resampling_data.txt'
                 gene_sets='/Users/ltao/Projects/mecom/exp/210210/mecom.gmt', # enrichr library names
                 cls= exp+"tcga24.cls", # cls=class_vector
#                  cls= exp+"aml.cls", # cls=class_vector

                 # set permutation_type to phenotype if samples >=15
                 permutation_type='gene_set',
                 permutation_num=1000, # reduce number to speed up test
                 outdir=output,  # do not write output to disk
                 no_plot=False, # Skip plotting
                 method=method,
                 max_size=1000,
#                  method='t_test',
                 
#                  method='log2_ratio_of_classes',
                 processes=4, seed= 7,
                 format='pdf')

In [37]:
# psudobulk 10x

In [26]:
ls psdobulk_10x.csv

07_lecture.pdf
2020.06.16.148239v1.full.pdf
20201203-b.xlsx
EBSeq.pdf
EBSeqHMM.pdf
EBSeq_Vignette.pdf
GSEA surv threshold 24 months.pdf
GSEA-subset.ipynb
GSEA.ipynb
Gene_Count_per_condition.tsv
HemeMap202 gene list.csv
RSEM_tutorial-master/
RSEM_tutorial-master.zip
TCGA_All samples RNA seq grouped by survival.csv
aml_de_gene.csv
bulk-rna.xlsx
bulkrna/
bulkrnaGeneMat.results
comparison_results_edger-voom_2021-02-17/
comparison_results_edger-voom_2021-02-17.zip
edger-DEG-res-2021-02-17 (1).txt
edger-DEG-res-2021-02-17.txt
edger-DEG-res-aavs.txt
edger-mecom-aavs DE analysis_0.33 txt.txt
edger-mecom_res_0.33txt.txt
edger_aavs_res_1.5.txt
mecom.de_compare.xlsx
mecom.gmt
mecom.gmt.1st
psdobulk_10x.csv
ss.tsv
test/
voom-DEG-res-2021-02-17 (1).txt
voom-DEG-res-2021-02-17.txt
~$bulk-rna.xlsx
~$mecom.de_compare.xlsx

In [44]:
dataset="psdobulk_10x.csv"
# method="log2_ratio_of_classes"
method="diff_of_classes"
# method='ratio_of_classes'
output=exp+'subset/'+dataset[:-4]+"_"+method+'_ma'

aml_norm=pd.read_csv(dataset)
aml_norm['Name']=aml_norm['genes']
aml_norm['DESCRIPTION']='10x'
# gsea_exp=aml_norm[['Name','DESCRIPTION','aavs','mecom']].reset_index(drop=True)
gsea_exp=aml_norm[['Name','DESCRIPTION','mecom','aavs']].reset_index(drop=True)

gsea_exp

               Name DESCRIPTION     mecom      aavs
0      RP11-34P13.3         10x  0.000000  0.000000
1           FAM138A         10x  0.000000  0.000000
2             OR4F5         10x  0.000000  0.000000
3      RP11-34P13.7         10x  0.001598  0.001489
4      RP11-34P13.8         10x  0.000000  0.000000
...             ...         ...       ...       ...
33689    AC233755.2         10x  0.000000  0.000000
33690    AC233755.1         10x  0.000000  0.000000
33691    AC240274.1         10x  0.020851  0.018558
33692    AC213203.1         10x  0.000000  0.000000
33693       FAM231B         10x  0.000000  0.000000

[33694 rows x 4 columns]

In [46]:

gs_res = gp.gsea(data=gsea_exp, # or data='./P53_resampling_data.txt'
                 gene_sets='/Users/ltao/Projects/mecom/exp/210210/mecom.gmt', # enrichr library names
#                  cls= exp+"tcga24.cls", # cls=class_vector
                 cls= exp+"10x_ma.cls", # cls=class_vector

                 # set permutation_type to phenotype if samples >=15
                 permutation_type='gene_set',
                 permutation_num=1000, # reduce number to speed up test
                 outdir=output,  # do not write output to disk
                 no_plot=False, # Skip plotting
                 method=method,
                 max_size=1000,
#                  method='t_test',
                 
#                  method='log2_ratio_of_classes',
                 processes=4, seed= 7,
                 format='pdf')

2021-03-23 16:21:47,593 Warning: dropping duplicated gene names, only keep the first values

In [47]:
# non_lthsc 10x psudobulk

07_lecture.pdf
2020.06.16.148239v1.full.pdf
20201203-b.xlsx
EBSeq.pdf
EBSeqHMM.pdf
EBSeq_Vignette.pdf
GSEA surv threshold 24 months.pdf
GSEA-subset.ipynb
GSEA.ipynb
Gene_Count_per_condition.tsv
HemeMap202 gene list.csv
RSEM_tutorial-master/
RSEM_tutorial-master.zip
TCGA_All samples RNA seq grouped by survival.csv
aml_de_gene.csv
bulk-rna.xlsx
bulkrna/
bulkrnaGeneMat.results
comparison_results_edger-voom_2021-02-17/
comparison_results_edger-voom_2021-02-17.zip
edger-DEG-res-2021-02-17 (1).txt
edger-DEG-res-2021-02-17.txt
edger-DEG-res-aavs.txt
edger-mecom-aavs DE analysis_0.33 txt.txt
edger-mecom_res_0.33txt.txt
edger_aavs_res_1.5.txt
mecom.de_compare.xlsx
mecom.gmt
mecom.gmt.1st
mecom.gmt2nd
psdobulk_10x.csv
ss.tsv
subset_all_gene_compare.csv
test/
voom-DEG-res-2021-02-17 (1).txt
voom-DEG-res-2021-02-17.txt
~$bulk-rna.xlsx
~$mecom.de_compare.xlsx

In [50]:
dataset="nonlthsc_10x_1500.csv"
# method="log2_ratio_of_classes"
method="diff_of_classes"
# method='ratio_of_classes'
output=exp+'subset/'+dataset[:-4]+"_"+method+'_ma'

aml_norm=pd.read_csv(dataset)
aml_norm['Name']=aml_norm['genes']
aml_norm['DESCRIPTION']='10x'
# gsea_exp=aml_norm[['Name','DESCRIPTION','aavs','mecom']].reset_index(drop=True)
gsea_exp=aml_norm[['Name','DESCRIPTION','mecom','aavs']].reset_index(drop=True)

gsea_exp

               Name DESCRIPTION     mecom      aavs
0      RP11-34P13.3         10x  0.000000  0.000000
1           FAM138A         10x  0.000000  0.000000
2             OR4F5         10x  0.000000  0.000000
3      RP11-34P13.7         10x  0.001613  0.005045
4      RP11-34P13.8         10x  0.000000  0.000000
...             ...         ...       ...       ...
33689    AC233755.2         10x  0.000000  0.000000
33690    AC233755.1         10x  0.000000  0.000000
33691    AC240274.1         10x  0.019639  0.016555
33692    AC213203.1         10x  0.000000  0.000000
33693       FAM231B         10x  0.000000  0.000000

[33694 rows x 4 columns]

In [51]:

gs_res = gp.gsea(data=gsea_exp, # or data='./P53_resampling_data.txt'
                 gene_sets='/Users/ltao/Projects/mecom/exp/210210/mecom.gmt', # enrichr library names
#                  cls= exp+"tcga24.cls", # cls=class_vector
                 cls= exp+"10x_ma.cls", # cls=class_vector

                 # set permutation_type to phenotype if samples >=15
                 permutation_type='gene_set',
                 permutation_num=1000, # reduce number to speed up test
                 outdir=output,  # do not write output to disk
                 no_plot=False, # Skip plotting
                 method=method,
                 max_size=1000,
#                  method='t_test',
                 
#                  method='log2_ratio_of_classes',
                 processes=4, seed= 7,
                 format='pdf')

2021-03-23 16:54:25,943 Warning: dropping duplicated gene names, only keep the first values

In [5]:
#pre rank
import os
from gseapy.plot import gseaplot, heatmap

# aml

In [6]:
ls bulkrna/M4*

bulkrna/M4 AML hi vs low expression.rnk.txt

bulkrna/M4 AML hi vs low expression.rnk_pre_rank:

In [292]:
de="CCLE all AML high vs low DEG.xlsx"
aml_de=pd.read_excel(exp+de, sheet_name="depmap_download-2")
aml_de
aml_pre=aml_de[['Gene','EffectSize']].reset_index(drop=True)
aml_pre=pd.DataFrame.from_records(aml_pre.values)
aml_pre=aml_pre[aml_pre[1]>=1]
pre_res = gp.prerank(rnk=aml_pre, gene_sets= '/Users/ltao/Projects/mecom/exp/210210/mecom.gmt',
                 processes=4,
                 permutation_num=1000, # reduce number to speed up testing
                     
                 outdir=exp+de[:-4]+"_"+"pre_rank", format='png', seed=6)
de_pre[de]=pre_res
# Make sure that ``ofname`` is not None, if you want to save your figure to disk

print ('>>>'*11,de,"<<<"*11)

print(pre_res.res2d)

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CCLE all AML high vs low DEG.xlsx <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            es       nes      pval       fdr  geneset_size  \
Term
Mast0.05_mecom_down   0.371145  1.237472  0.233256  0.447542           143
Heapmap202            0.388943  1.291645  0.191244  0.546955           202
Mast0.035_mecom_down  0.274459  0.984516  0.499457  0.594718           322
down033_001           0.292354  1.046609  0.425163  0.632520           307
Mast0.025_mecom_down  0.217746  0.861764  0.654167  0.641233           579
Mast0.025_mecom_up    0.382264  1.364039  0.134426  0.794571           762

                      matched_size  \
Term
Mast0.05_mecom_down             15
Heapmap202                      15
Mast0.035_mecom_down            20
down033_001                     20
Mast0.025_mecom_down            31
Mast0.025_mecom_up              19

                                                                  genes  \
Term
Mast0.05_mecom_down   ALDH1A1;MECOM;SPINT2;CYTL1;ETS2;HEMGN;SNCA;LIM...
Heapmap202            ALDH1A1;MECOM;SPINT2;PIM1;BLVRB;ETS2;HEMGN;SNC...
Mast0.035_mecom_down  ALDH1A1;MECOM;SPINT2;BLVRB;SSBP3;SHANK3;CYTL1;...
down033_001           ALDH1A1;MECOM;SPINT2;PIM1;BLVRB;SSBP3;CYTL1;ET...
Mast0.025_mecom_down  ALDH1A1;MECOM;SPINT2;ADGRG1;PIM1;HOXB2;BLVRB;F...
Mast0.025_mecom_up    GFI1B;FHL2;GATA2;ITM2A;TESPA1;FCER1A;ISYNA1;PD...

                                                      ledge_genes
Term
Mast0.05_mecom_down                          ALDH1A1;MECOM;SPINT2
Heapmap202                              ALDH1A1;MECOM;SPINT2;PIM1
Mast0.035_mecom_down                         ALDH1A1;MECOM;SPINT2
down033_001                             ALDH1A1;MECOM;SPINT2;PIM1
Mast0.025_mecom_down             ALDH1A1;MECOM;SPINT2;ADGRG1;PIM1
Mast0.025_mecom_up    GFI1B;FHL2;GATA2;ITM2A;TESPA1;FCER1A;ISYNA1

In [13]:
aml_pre

            0         1
0      UBE2E2  4.122988
1        CBR1  3.882108
2      CGREF1  3.736273
3      RAB33A  3.696059
4        PRNP  3.251269
...       ...       ...
17712    IL32 -4.096622
17713   ANXA3 -4.413684
17714   DOCK1 -4.523924
17715  RAB27B -4.992566
17716   MECOM -5.498683

[17717 rows x 2 columns]

In [ ]:
# M4 prerank

In [14]:
de_pre={}

de="M4 AML hi vs low expression.rnk.txt"
aml_de=pd.read_csv(exp+de, sep='\t')
aml_de
aml_pre=aml_de[['Feature','Effect_size']].reset_index(drop=True)
aml_pre=pd.DataFrame.from_records(aml_pre.values)
pre_res = gp.prerank(rnk=aml_pre, gene_sets= '/Users/ltao/Projects/mecom/exp/210210/mecom.gmt',
                 processes=4,
                 permutation_num=1000, # reduce number to speed up testing
                     
                 outdir=exp+de[:-4]+"_"+"pre_rank", format='pdf', seed=6)
de_pre[de]=pre_res
# Make sure that ``ofname`` is not None, if you want to save your figure to disk

print ('>>>'*11,de,"<<<"*11)

print(pre_res.res2d)

2021-04-11 16:58:17,355 Input gene rankings contains duplicated IDs, Only use the duplicated ID with highest value!

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> M4 AML hi vs low expression.rnk.txt <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                  es       nes      pval       fdr  \
Term
Mast0.05_all_mecom_up       0.698706  1.843441  0.000000  0.000000
Mast0.05_all_mecom_up_pa    0.701049  1.846508  0.000000  0.000000
Mast0.05_all_mecom_down_pa -0.672593 -1.385687  0.008743  0.010014
Mast0.05_all_mecom_down    -0.672193 -1.386536  0.015135  0.018945

                            geneset_size  matched_size  \
Term
Mast0.05_all_mecom_up                402           370
Mast0.05_all_mecom_up_pa             396           365
Mast0.05_all_mecom_down_pa           321           291
Mast0.05_all_mecom_down              322           292

                                                                        genes  \
Term
Mast0.05_all_mecom_up       MYBL2;TUBB6;STUB1;TIMM13;C8orf82;UBE2S;ACAT2;R...
Mast0.05_all_mecom_up_pa    MYBL2;TUBB6;STUB1;TIMM13;C8orf82;UBE2S;ACAT2;R...
Mast0.05_all_mecom_down_pa  MED30;CSTB;RPL23A;GTF2H5;CCDC25;PSMB9;SUMO2;PL...
Mast0.05_all_mecom_down     MED30;CSTB;RPL23A;GTF2H5;CCDC25;PSMB9;SUMO2;PL...

                                                                  ledge_genes
Term
Mast0.05_all_mecom_up       MYBL2;TUBB6;STUB1;TIMM13;C8orf82;UBE2S;ACAT2;R...
Mast0.05_all_mecom_up_pa    MYBL2;TUBB6;STUB1;TIMM13;C8orf82;UBE2S;ACAT2;R...
Mast0.05_all_mecom_down_pa  MZB1;PARP14;HOXA9;SH3BP5;PHACTR1;HOPX;FERMT3;H...
Mast0.05_all_mecom_down     MZB1;PARP14;HOXA9;SH3BP5;PHACTR1;HOPX;FERMT3;H...